/* RESETS */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

/* GENERIC CSS */

body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    overflow: hidden;
}


/* CUSTOM CSS */

.main-container {
    width: 100%;
    max-width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hamster {
    position: absolute;
}

.hamster.top {
    top: -130px;
}

.hamster.right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -242px;
    top: 341px;
}


/* FORM */

.form {
    position: relative;
    top: 0;
    width: 100%;
    float: left;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: 5;
    padding: 60px 50px 40px;
    opacity: 1;
    background: #fff;
    border-radius: 10px;
}

.form:before {
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    top: -10px;
    left: 0;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    z-index: -1;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.title {
    position: relative;
    width: 100%;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ed2553;
}

.title:before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50px;
    background: #ed2553;
}


/* FORM INPUTS */

.form-radio,
.form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}


/* INPUTS */

.form-group input {
    height: 1.9rem;
}

.form-group .input-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
    transition: all 0.28s ease;
}

.form-group .input-bottom-bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
}

.form-group .input-bottom-bar:before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    -o-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}

.form-group input {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
    transition: all 0.28s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group input:focus,
.form-group input:valid {
    color: #333;
}

.form-group input:focus~.input-label,
.form-group input:valid~.input-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0;
}

.form-group input:focus {
    outline: none;
}

.form-group input:focus~.input-label {
    color: #337ab7;
}

.form-group input:focus~.input-bottom-bar::before {
    width: 100%;
    left: 0;
}


/* RADIOS */

.form-radio label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    color: #333;
}

.form-radio input {
    width: auto;
    position: absolute;
    left: 0;
    opacity: 0.00000001;
}

.radio {
    margin-bottom: 1rem;
}

.radio .helper {
    display: block;
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.radio .helper::before,
.radio .helper::after {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.25rem;
    -webkit-transition: -webkit-transform 0.28s ease;
    transition: -webkit-transform 0.28s ease;
    -o-transition: transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
}

.radio .helper::after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: #337ab7;
    border-color: #337ab7;
}

.radio label:hover .helper {
    color: #337ab7;
}

.radio input:checked~.helper::after {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.radio input:checked~.helper::before {
    color: #337ab7;
}


/* BRANDS */

.form-brands {
    margin-bottom: 1rem;
}

.fav-brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -5px;
}

.brand {
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #337ab7;
    color: #fff;
    cursor: pointer;
}

.brand:hover {
    background: #ed2553;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.brand:hover:after {
    display: inline-block;
}

.brand:after {
    content: '\00D7';
    display: none;
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 13px;
    cursor: pointer;
}


/* BUTTONS */

.submit-btn {
    width: 100%;
    left: 0;
    line-height: 64px;
    font-size: 18px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
    color: #ed2553;
    border-color: #ed2553;
}